extends ../dashboard/admin/dashboard-admin.pug



block content
    .container.mt-4
      h1 Lista de Camas
      a.btn.btn-custom.mb-3(href='/camas/new') Nueva Cama
      table.table
        thead
          tr
            th Número
            th Estado
            th Hospital
            th Paciente
            th Acciones
        tbody
          each cama in camas
            tr
              td= cama.numero
              td= cama.estado
              td= cama.hospital ? cama.hospital.nombre : 'Sin hospital'
              td= cama.paciente ? cama.paciente.nombre : 'Sin paciente'
              td
                a.btn.btn-info.btn-sm(href=`/camas/${cama.id}`) Ver
                a.btn.btn-warning.btn-sm.ml-2(href=`/camas/${cama.id}/edit`) Editar
                form(method='POST' action=`/camas/${cama.id}` style='display:inline;')
                  input(type='hidden' name='_method' value='DELETE')
                  button.btn.btn-danger.btn-sm(type='submit') Eliminar
                if cama.estado === 'Disponible'
                  form(method='POST' action=`/camas/asignar/${cama.id}` style='display:inline;')
                    select(name='paciente_id' required)
                      option(value='') Seleccione un paciente
                      - if (typeof pacientes !== 'undefined')
                        each paciente in pacientes
                          option(value=paciente.id)= paciente.nombre
                    button.btn.btn-success.btn-sm(type='submit') Asignar
                else if cama.estado === 'Ocupada'
                  form(method='POST' action=`/camas/desasignar/${cama.id}` style='display:inline;')
                    button.btn.btn-danger.btn-sm(type='submit') Desasignar
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js')
    script(src='/js/script.js')